* {
  margin: 0;
  padding: 0;
}

body {
  color: #073642;
  background: #fdf6e3;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.5;
}

a, a:visited {
  color: #b58900;
}

a:hover {
  background: #eee8d5;
}

.site {
  margin: 0 auto;
  width: 1000px;
}

.header {
  font-size: 16px;
  margin: 15px auto;
  width: 85%;
}

.header pre {
  border: none;
}

.content {
  /* font-size: 20px; */
  margin: 0 auto 25px;
  text-align: center;
  width: 60%;
}

.installers {
  display: inline-block;
  margin: 0 auto 35px;
}

.installer {
  float: left;
  overflow: hidden;
  width: 50%;
}

p {
  margin-bottom: 20px;
}

h3, h4 {
  margin-bottom: 10px;
  text-align: left;
}

h4#path {
  text-align: right;
}

.index pre,.index code {
 font: 15px Monaco, Courier, monospace;
}

.index pre {
  border: 2px solid #eee7d6;
  color: #444;
  margin:12px 0;
  overflow: auto;
  padding: 2px;
  white-space: pre;
  width: 95%;
  word-wrap: normal;
}

.index pre code {
  border: none;

  display: block;
  padding: 0.5em;
  background: #fdf6e3;
  color: #0b3641;
}

.index code {
  display: inline-block;
  padding: 3px;
  background-color:#fdf6e3;
  color:#596e75;
  border:1px solid #eee7d6;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #eee7d6;
  margin: 1em 0;
  padding: 0;
}

.mapping pre {
  width: 100%;
}

