* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  color: #222;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.5;
}

a, a:visited {
  color: #FF6600;
}

a:hover {
  color: #CC3300;
}

.header {
  font-size: 16px;
  margin: 15px auto;
  padding-left: 30px;
}

.altheader {
  display: none !important;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header {
    font-size: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    display: none !important;
    font-size: 9px;
  }

  span.desc {
    display: none !important;
  }

  .altheader {
    display: inline !important;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    display: none !important;
    font-size: 5px;
  }

  span.desc {
    display: none !important;
  }

  .altheader {
    display: inline !important;
  }
}

.header pre {
  border: none;
}

.content {
  margin: 0 auto 25px;
  padding-left: 10px;
  text-align: center;
}

.title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.method {
  margin: 0 auto;
  text-align: center;
}

.installer {
  margin: 15px auto;
}

h3, h4 {
  font-weight: normal;
}

h4 {
  margin-bottom: 10px;
  text-align: left;
}

.index pre,.index code {
  font: 14px Monaco, Courier, monospace;
}

.index pre {
  border: 1px solid #DDD;
  margin: 12px 0;
  overflow: auto;
  padding: 2px;
  white-space: pre;
  word-wrap: normal;
}

.index pre code {
  display: block;
  padding: 0.5em;
}

.index code {
  color: #444;
}

.mapping {
  padding-left: 10px;
  text-align: center;
}

.mapping pre {
  border: none;
}

hr {
  border: 0;
  border-top: 1px dotted #93A1A1;
  height: 1px;
  margin: 1em auto;
  padding: 0;
  width: 50%;
}

.footer {
  font: 12px Monaco, Courier, monospace;
  margin: 30px auto;
  text-align: center;
}

