* {
  margin: 0;
  padding: 0;
}
body {
  color: #073642;
  background: #fdf6e3;
  font-family: Georgia;
  font-size: 18px;
  line-height: 1.5;
}

a, a:visited {
  color: #b58900;
}

a:hover {
  background: #eee8d5;
}

.header {
  font-size: 16px;
  margin: 15px auto;
}

.altheader {
  display: none !important;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .header {
    font-size: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    display: none !important;
    font-size: 9px;
  }

  span.desc {
    display: none !important;
  }

  .altheader {
    display: inline !important;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    display: none !important;
    font-size: 5px;
  }

  span.desc {
    display: none !important;
  }

  .altheader {
    display: inline !important;
  }
}


.header pre {
  border: none;
}

.content {
  margin: 0 auto 25px;
  text-align: center;
}

.title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.installers {
  margin: 0 auto 35px;
}

.method {
  margin: 0 auto;
  text-align: center;
}

.installer {
  float: left;
  overflow: hidden;
}

h4 {
  margin-bottom: 10px;
  text-align: left;
}

.index pre,.index code {
  font: 14px Monaco, Courier, monospace;
}

.index pre {
  border: 2px solid #eee7d6;
  margin: 12px 0;
  overflow: auto;
  padding: 2px;
  white-space: pre;
  word-wrap: normal;
}

.index pre code {
  border: none;

  display: block;
  padding: 0.5em;
  background: #fdf6e3;
  color: #0b3641;
}

.index code {
  color:#596e75;
}

.mapping {
  text-align: center;
}

.mapping pre {
  border: none;
}

