<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="Investigate is a vim plugin for viewing documentation in Dash for OS X, a web browser, or the terminal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/syntax.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div class="site">
      <div class="title">
        <pre>
            ____                     __  _             __             _
           /  _/___ _   _____  _____/ /_(_)___ _____ _/ /____  _   __(_)___ ___
           / // __ \ | / / _ \/ ___/ __/ / __ `/ __ `/ __/ _ \| | / / / __ `__ \
         _/ // / / / |/ /  __(__  ) /_/ / /_/ / /_/ / /_/  __/| |/ / / / / / / /
        /___/_/ /_/|___/\___/____/\__/_/\__, /\__,_/\__/\___(_)___/_/_/ /_/ /_/
                                       /____/
        </pre>
      </div>
    </div>


    <div class="site">
      <div class="title">
        <pre>
             ____                     __  _             __
            /  _/___ _   _____  _____/ /_(_)___ _____ _/ /____
            / // __ \ | / / _ \/ ___/ __/ / __ `/ __ `/ __/ _ \
          _/ // / / / |/ /  __(__  ) /_/ / /_/ / /_/ / /_/  __/
        /___/_/ /_/|___/\___/____/\__/_/\__, /\__,_/\__/\___/
                                        /____/

        </pre>
      </div>

      {{ content }}

      <div class="footer">
      </div>
    </div>
  </body>
</html>
